{% extends 'base.html' %}
{% block title %}{{ album.nome }}{% endblock %} {# MUDOU DE .titulo PARA .nome #}

{% block content %}
    <div class="card">
        <h1>{{ album.nome }}</h1> {# MUDOU DE .titulo PARA .nome #}
        <p><strong>Artista:</strong> <a href="{% url 'artista-detail' album.artista.pk %}">{{ album.artista.nome }}</a></p>
        <h2>Músicas</h2>
        <ul>
            {% for musica in album.musica_set.all %}
                <li><a href="{% url 'musica-detail' musica.pk %}">{{ musica.nome }}</a></li> {# MUDOU DE .titulo PARA .nome #}
            {% empty %}
                <li>Nenhuma música neste álbum.</li>
            {% endfor %}
        </ul>
        <div class="detail-actions">
            <a href="{% url 'albuns' %}" class="btn btn-secondary">Voltar para a Lista</a>
        </div>
    </div>
{% endblock %}